<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.geatte.android.app" 
	android:versionCode="5"
	android:versionName="1.0.4">
	<uses-sdk android:minSdkVersion="8" />

	<!--
		Only this application can receive the messages and registration result
	-->
	<permission android:name="com.geatte.android.app.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.geatte.android.app.permission.C2D_MESSAGE" />

	<!-- This app has permission to register and receive message -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<!-- Send the registration id to the server -->
	<uses-permission android:name="android.permission.INTERNET" />
	
	 <!-- required for accessing the device ID -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- App must have this permission to use the library -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 
	<application 
	android:icon="@drawable/icon" 
	android:label="@string/app_name"  
	android:name=".GeatteApplication"
	android:theme="@style/Theme.Geatte">

		<!--activity android:name=".GeatteTabWidget" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-->
		
		<!--activity android:name=".GeatteCanvas"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity-->
		
		<activity android:name=".ShopinionMainActivity"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".ShopinionGridActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".GeatteSetupActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".GeatteEditUploadTextOnlyActivity"
		 android:label="@string/edit_geatte" >
		</activity>

		<activity android:name=".GeatteDetail" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteVotingActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteFeedbackActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteAllFeedbackXActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteTabActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteContactSelectActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteContactInfoActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteVotingCommentActivity" 
          android:label="@string/voting_comment_title" 
          android:theme="@android:style/Theme.Dialog"/>

		<activity android:name=".GeatteListAsyncXActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteGridAsyncXActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteListFIAsyncXActivity" android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GeatteGridFIAsyncXActivity" android:label="@string/app_name">
		</activity>
		
		<!-- In order to use the c2dm library, an
        application must declare a class with the name C2DMReceiver, in its
        own package, extending com.google.android.c2dm.C2DMBaseReceiver

        It must also include this section in the manifest, replacing
        "com.google.android.apps.chrometophone" with its package name.
        -->
        <service android:name="com.geatte.android.c2dm.C2DMReceiver" />
        
        <service android:name="com.geatte.android.app.GeatteContactsService" />
        
        <service android:name="com.geatte.android.app.GeatteImageUploadIntentService" />

		<!--
			Only C2DM servers can send messages for the app. If permission is not
			set - any other app can generate it
		-->
		<receiver android:name="com.geatte.android.c2dm.C2DMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<!-- Receive the actual message -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.geatte.android.app" />
			</intent-filter>
			<!-- Receive the registration id -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.geatte.android.app" />
			</intent-filter>
			<!-- Retry the registration id -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RETRY" />
				<category android:name="com.geatte.android.app" />
			</intent-filter>
		</receiver>

	</application>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>